body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;

}
.super-container{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #F8F8F8;
}
.super-container .header {

}
.super-container .text-input-container {
	width: 100%;
}
.super-container .text-input-container .text-input{
	width: 100%;
}


